<div class="article">
<article class="article-01">
    <div id="lorem">
    <h2>Article 1 - The Value of Money</h2>
    <img src="/images/pexels-john-guccione-wwwadvergroupcom-3483098.jpg" alt="Article 1 Image">
    </div>
    <div>
    <p>The value of money refers to the purchasing power and worth that currency holds in economic transactions. It represents the ability of money to acquire goods, services, or assets, reflecting its utility in facilitating trade and economic activities. The concept recognizes that money is not static; its value can change over time due to factors such as inflation, supply and demand dynamics, and economic stability. Understanding the value of money is essential for making informed financial decisions and gauging the relative worth of items or investments in an ever-changing economic landscape. </p>     
    </div>
</article>


<article class="article-02">
    <div id="lorem">
    <h2>Article 2 - GMO Food</h2>
    <img src="/images/pexels-ella-olsson-1640772.jpg" alt="Article 2 Image">
    </div>
    <div>
    <p>Genetically Modified Organisms (GMO) foods are products derived from crops or organisms whose genetic material has been altered through biotechnology techniques. These modifications are typically aimed at enhancing desired traits such as resistance to pests, tolerance to environmental conditions, or improved nutritional content. GMO foods have sparked debates around their safety, environmental impact, and ethical considerations. Proponents argue that GMOs can increase crop yields, reduce the need for pesticides, and address food security challenges. Critics raise concerns about potential long-term health effects, unintended environmental consequences, and the consolidation of agricultural control by a few large corporations. Public discourse on GMO foods often revolves around the balance between potential benefits and the need for thorough scientific evaluation and transparent regulatory frameworks. </p>     
    </div>
</article>


<article class="article-01">
        <div id="lorem">
        <h2>Article 3 - The View of World in 2100</h2>
        <img src="/images/pexels-pixabay-220201.jpg" alt="Article 3 Image">
        </div>
        <div>
        <p>The view of the world in 2100 is a subject of speculation, influenced by projections, trends, and potential developments. Envisioning the world a century from now involves considering a range of factors, from technological advancements and societal changes to environmental challenges and geopolitical shifts.

            In this distant future, it's likely that technological innovations would have revolutionized various aspects of life, from communication and transportation to healthcare and energy production. Automation, artificial intelligence, and sustainable technologies might play significant roles in shaping societies and economies.</p>     
        </div>
</article>
</div>