<div class="card-container">
    <div class="card">
        <img src="images/pexels-alice-castro-1835008.jpg" alt="Cute Cats">
        <h3>Cute Cats</h3>
    </div>


    <div class="card">
        <img src="images/pexels-evg-kowalievska-1170986.jpg" alt="Noisy Cats">
        <h3>Noisy Cats</h3>
    </div>


    <div class="card">
        <img src="images/pexels-just-a-couple-photos-3777622.jpg" alt="Lazy Cats">
        <h3>Lazy Cats</h3>
    </div>


    <div class="card">
        <img src="images/pexels-lina-kivaka-1741206.jpg" alt="Small Cats">
        <h3>Small Cats</h3>
    </div>


    <div class="card">
        <img src="images/pexels-matteo-petralli-1828875.jpg" alt="Kitty Cats">
        <h3>Kitty Cats</h3>
    </div>

    
    <div class="card">
        <img src="images/pexels-timo-volz-3643714.jpg" alt="Transformer Cats">
        <h3>Transformer Cats</h3>
    </div>
</div>